fastapi
uvicorn
psycopg2
psycopg
psycopg-pool
psycopg-binary
sqlalchemy
langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langgraph
langserve[server]
wikipedia
wolframalpha