fastapi
uvicorn
psycopg2
psycopg
psycopg-pool
psycopg-binary
sqlalchemy
langgraph>=0.1.7
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langgraph
langchain-postgres
langserve[server]
wikipedia
wolframalpha
